<%= form_with model: [article, comment], local: false do |f| %>
  <%= f.text_area :article_comment, rows: "5", cols: "70", placeholder: "コメントをここに", id:"ajax_comment_area" %>
  <p><%= f.submit "送信する", class: "button" %></p>
<% end %>