<div class="container">
  <div class="about">

    <div class="about_title">
      <h1>このサイトについて</h1>
    </div>

    <div class="row">
      <div class="about_text">
        <p>
          WanPalでは、メンバー同士がドックライフをシェアします。<br>
          あなたのとっておきの写真や情報をメンバーにシェアして、<br>
          たくさんのフォローやいいねをもらいましょう！！
        </p>
      </div>
      <div class="about_image">
        <%= image_tag 'about.jpg', :size => "350x250" %>
      </div>
    </div>

  </div>
</div>