<div class="container">

  <div class="member_status">
    <div class="left">
      <div class="member_image">
        <p><%= image_tag @member.get_profile_image, :size => "50x50" %></p>
      </div>
    </div>
    <div class="right">
      <div class="member_name">
        <%= @member.name %>
      </div>
      <div class="member_introduction">
        <%= @member.introduction %>
      </div>
    </div>
  </div>

  <div class="status_link">
    <div class="left">
      <div class="row">
        <p class="follow"></p>
        <p class="follower"></p>
      </div>
    </div>
    <div class="right">
      <div class="row">
        <div class="profile_button">
          <%= button_to "プロフィール編集", edit_member_path, method: :get %>
        </div>
        <button>フォローする</button>
      </div>
    </div>
  </div>

</div>
